html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.logo {
	position: absolute;
	z-index: 100;
	padding: 12px;
}

#main-nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    outline:none;
}
#main-nav {
	position: fixed;
	top: 400px;
	left: 0px;
}

#tabs-1, #tabs-3 {
	width: 60%;
	float: right;
}

#tabs-2 {
	width: 75%;
	float: right;
}

/* =========== Challenge Page Styling ======================================= */

#home-about {
	padding-top: 100px;
	border-bottom: 1px solid black;
	padding-bottom: 24px;
}

#tabs-1 {
	padding-bottom: 200px;
}

#tabs-1 span {
	font-size: 1.3rem;
	font-weight: 600;
	font-style: normal;
}

#tabs-1 p {
	font-style: italic;
	font-size: 1rem;
	line-height: 1.6;
	padding-bottom: 6px;
}

.challenge-text {
	font-size: 1.4rem;
}

.screen-home {
	padding-top: 140px;
	margin: 0 auto;
	display: block;
}

.wireframe, .design {
	width: 50%;
	float: left;
}

.see-button {
	margin: 0 auto;
	margin-top: 32px;
	text-align: center;
	width: 235px;
	border: 1px solid black;
	height: 42px;
	-webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	-moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	padding-top: 22px;
}

#see-button-link, #see-button-link-2, #see-button-link-3 {
	font-size: 1.2rem;
	text-decoration: none;
	color: black;
}

/* =========== Home Navigation Tab Styling ================================= */

#main-nav ul {
	position: absolute;
	left: 0;
	top: 35%;
}

#main-nav ul li {
	padding: 24px 24px 24px 0;
	outline:none;
	width: 400px;
}

.ui-tabs-active a {
	border: 1px solid black;
	border-left: none;
	-webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	-moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	transition: all 500ms;
}

#challenge {
	padding: 14px 22px 14px 42px;
}

#process{
	padding: 14px 42px 14px 42px;
}

#solution {
	padding: 14px 34px 14px 42px;
}

#tester, #tester-2, #tester-3, #tester-4 {
	display: none;
}

/*  ============ Process Tab Styling =============================================*/

.process-screens {
	padding-top: 110px;
	padding-bottom: 80px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#tabs-2 {
	padding-right: 24px;
}

.center-fix {
	display: inline-block;
	text-align: center;
}

.center-fix img {
	padding: 0 8px 0 8px;
}

#process-buttons {
	padding-top: 40px;
}

.see-process-button {
	text-align: center;
	border: 1px solid black;
	height: 42px;
	-webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	-moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	padding: 16px 12px 16px 12px;
	margin: 0 12px 0 12px;
	display: inline;
	background-color: white;
}

/* =========== Community Search Styling ================================= */

/* Navigation */

.process-nav {
	position: fixed;
	padding: 24px;
	background-color: white;
	z-index: 99999;
}

.process-header {
	display: inline;
}

.process-subheader {
	padding-top: 12px;
	padding-left: 0.3em;
}

.process-subheader a {
	text-decoration: none;
	color: black;
}

.process-subheader a:hover {
	font-weight: 700;
	transition: all 0.25s;
}

.process-header li {
	display: inline;
	padding: 0 1.3em 0 1.3em;
}

.process-subheader li {
	display: inline;
	font-size: 0.9rem;
	padding: 0 16px 0 16px;
}

.active-process-link {
	font-weight: 700;
}

/* Content */

#tabs-4, #tabs-5, #tabs-6, #tabs-7 {
	width: 75%;
	float: right;
}

.column-1, .column-2 {
	float: left;
	width: 50%;
}

.community-screen {
	width: 100%;
}

#community-search, #property-search {
	padding-top: 200px;
}

.community-search-intro {
	width: 90%;
	margin-left: 5%;
	font-weight: 300;
	line-height: 2;
}

.stick-left {
}

.overview {
	padding-top: 48px;
	margin: 0 auto;
	display: block;
}

.overview a {
	text-decoration: none;
	color: black;
}

.see-process-button {

}

.next-step-button {
	text-align: center;
	border: 1px solid black;
	height: 22px;
	-webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	-moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	padding: 18px 12px 18px 12px;
	margin: 0 auto;
	width: 202px;
	background-color: white;
	font-size: 1.2rem;
	text-decoration: none;
	color: black;
}

.container {
	width: 80%;
	margin: 0 auto;
	display: block;
}

#community-search-phase-one, #community-search-phase-two, #community-search-phase-three {
	margin-top: 300px;
	width: 100%;
	padding-bottom: 200px;
	padding-top: 200px;
}

.community-search-img {
	float: left;
	width: 45%;
}

.property-imp {
	float: left;
	line-height: 2em;
	width: 40%;
	padding-right: 40px;
	padding-top: 100px;
}

.property-imp a {
	text-align: center;
	border: 1px solid black;
	height: 32px;
	width: 150px;
	-webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	-moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	padding: 10px 22px 16px 22px;
	margin: 0 auto;
	display: block;
	background-color: white;
	text-decoration: none;
	color: black;
	font-size: 1.1rem;
}






#location-search-phase-one, #location-search-phase-two, #location-search-phase-three {
	padding-top: 200px;
	padding-bottom: 200px;
}


.location-search-img {
	float: left;
	width: 45%;
}



.top-bar {
	width: 100%;
	height: 3.6vw;
	background-color: black;
}

.anim-column-1, .anim-column-2 {
	width: 50%;
	float: left;
	height: 100%;
}

.column-1 {
	background-color: white;
}

.column-2 {
	
}

.clearfix {
	clear: both;
}

.bar {
	height: 0.8vw;
	width: 70%;
	background-color: #666;
	margin: 0 auto;
	margin-top: 1.5vw;
}

.squares {
	margin: 0 auto;
	display: block;
	margin-top: 1vw;
	clear: both;
	margin-left: 2.9vw;
}

.square {
	width: 2vw;
	height: 2vw;
	background-color: #333333;
	float: left;
}

.square:nth-child(2){
	-webkit-animation-delay: 0.2s;
	margin-left: 0.65vw;
}
.square:nth-child(3){
	-webkit-animation-delay: 0.5s;
	margin-left: 0.65vw;
}
.square:nth-child(4){
	-webkit-animation-delay: 0.3s;
	margin-left: 0.65vw;
}
.square:nth-child(5){
	-webkit-animation-delay: 0.8s;
	margin-left: 0.65vw;
}

#second-bar {
	margin-top: 1vw;
}

.sliders {
	margin: 0 auto;
	display: block;
	margin-top: 0.5vw;
	clear: both;
	width: 70%;
}

.slider {
	margin-top: 1vw;
}

.slider-square {
	width: 0.6vw;
	height: 0.6vw;
	background-color: #999999;
	float: left;
}

.slider-square-right {
	margin-left: 0.25vw;
}

.slider-bar {
	width: 86.25%;
	height: 0.3vw;
	background-color: #999999;
	float: left;
	margin-left: 0.25vw;
	margin-top: 0.25vw;
	-webkit-transition: width 1s linear 2s;
}

.large-grey-box {
	width: 86.25%;
	height: 12vw;
	background-color: #cccccc;
	margin: 0 auto;
	display: block;
	margin-top: 3vw;
}





/* Column 2 */


.large-grey-box-2 {
	width: 100%;
	height: 20vw;
	background-color: #cccccc;
}

.lil-margin {
	margin-top: 1vw;
}

.bar-small {
	height: 0.8vw;
	width: 35%;
	background-color: #666;
	margin: 0 auto;
	margin-top: 1vw;
}





/* Property Search */
.property-wf {
	width: 100%;
}

.property-intro {
	width: 80%;
	margin: 0 auto;
	line-height: 2em;
	font-weight: 300;
}

#property-search a, #property-search-phase-one a, #property-search-phase-two a {
	text-align: center;
	border: 1px solid black;
	height: 32px;
	width: 150px;
	-webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	-moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.44);
	padding: 10px 22px 16px 22px;
	margin: 0 auto;
	display: block;
	background-color: white;
	text-decoration: none;
	color: black;
	font-size: 1.1rem;
}

#property-search {
	padding-bottom: 200px;
}

#property-search-phase-one, #property-search-phase-two, #property-search-phase-three {
	padding-top: 200px;
	margin-top: 200px;
	padding-bottom: 200px;
}



























/* Animations */

 
.width-expander-2{
width: 0;
 -webkit-animation:width-expander-2 ease-in-out 1;  /* call our keyframe named width-expander, use animattion ease-in and repeat it only 1 time */
 -moz-animation:width-expander-2 ease-in-out 1;
 animation:width-expander-2 ease-in-out 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:01.25s;
 -moz-animation-duration:01.25s;
 animation-duration:01.25s;
}
 

/* width-expander-2 */
@-webkit-keyframes width-expander-2 {
  0%   { width: 0; }
  80%  { width: 86.25%; }
  100% { width: 86.25%; }
}
@-moz-keyframes width-expander-2 {
  0%   { width: 0; }
  80%  { width: 86.25%; }
  100% { width: 86.25%; }
}
@-o-keyframes width-expander-2 {
  0%   { width: 0; }
  80%  { width: 86.25%; }
  100% { width: 86.25%; }
}
@keyframes width-expander-2 {
  0%   { width: 0; }
  80%  { width: 86.25%; }
  100% { width: 86.25%; }
}

.width-expander-3{
width: 0;
 -webkit-animation:width-expander-3 ease-in-out 1;  /* call our keyframe named width-expander, use animattion ease-in and repeat it only 1 time */
 -moz-animation:width-expander-3 ease-in-out 1;
 animation:width-expander-3 ease-in-out 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:01.25s;
 -moz-animation-duration:01.25s;
 animation-duration:01.25s;
}
 

/* width-expander-3 */
@-webkit-keyframes width-expander-3 {
  0%   { width: 0; }
  60%  { width: 60%; }
  80%  { width: 0%; }
  100% { width: 86.25%; }
}
@-moz-keyframes width-expander-3 {
  0%   { width: 0; }
  60%  { width: 60%; }
  80%  { width: 0%; }
  100% { width: 86.25%; }
}
@-o-keyframes width-expander-3 {
  0%   { width: 0; }
  60%  { width: 60%; }
  80%  { width: 0%; }
  100% { width: 86.25%; }
}
@keyframes width-expander-3 {
  0%   { width: 0; }
  60%  { width: 60%; }
  80%  { width: 0%; }
  100% { width: 86.25%; }
}







@keyframes scale {
from {
    width:0%;
}
to {
    width:5vw;
}}
@-moz-keyframes scale { /* Firefox */
from {
    width:0%;
}
to {
    width:5vw;
}}
@-webkit-keyframes scale { /* Safari and Chrome */
from {
    width:0%;
}
to {
    width:5vw;
}}
@-o-keyframes scale { /* Opera */
from {
    width:0%;
}
to {
    width:5vw;
}}














@media screen and (max-width: 760px) {



}



















/* ============ Media Queries =================================================== */

@media screen and (max-width: 1500px) {
	.screen-home { padding-top: 40px; }

	#tabs-1, #tabs-2, #tabs-3 {
	width: 68%; }
}






















